# GRIP - The Spark Foundation
# Name - Devansh J Pandya

In [1]:
# Task - Prediction using Supervised ML

In [3]:
#Importing dataset using pandas library
import pandas as pd 
url= "http://bit.ly/w-data"
dataset = pd.read_csv(url)

In [10]:
dataset.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [26]:
dataset.corr()

           Hours    Scores
Hours   1.000000  0.976191
Scores  0.976191  1.000000

In [28]:
nullv = dataset.isnull().sum()
nullv

Hours     0
Scores    0
dtype: int64

In [11]:
#dividing dataset into independent(one) & dependent variables(two)
one = dataset.drop("Scores",axis=1)
two = dataset["Scores"]

In [12]:
#Importing LR
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [13]:
#Training our Model 
model = lr.fit(one,two)

In [14]:
pre = model.predict(one)
pre

array([26.92318188, 52.3402707 , 33.76624426, 85.57800223, 36.69898527,
       17.14737849, 92.4210646 , 56.25059205, 83.62284155, 28.87834256,
       77.75735951, 60.16091341, 46.47478866, 34.74382459, 13.23705714,
       89.48832358, 26.92318188, 21.05769985, 62.11607409, 74.8246185 ,
       28.87834256, 49.40752968, 39.63172629, 69.9367168 , 78.73493985])

In [25]:
from sklearn.metrics import r2_score # For Accuracy
r2 = r2_score(two,pre)
r2

0.9529481969048356

In [16]:
#Predicted score if a student studies for 9.25 hrs/ day.
pr = lr.predict([[9.25]])
pr

array([92.90985477])

# Our model is 95% Accurate